<element>
    <name>
        report
    </name>
    <header>
        ./header/report.h
    </header>
    <function>
        report
    </function>
</element>
<element>
    <name>
        image
    </name>
    <header>
        ./header/img.h
    </header>
    <function>
        drawImage
    </function>
</element>
<element>
    <name>
        chapter
    </name>
    <header>
        ./header/chapter.h
    </header>
    <function>
        drawChapter
    </function>
</element>
<element>
    <name>
        section
    </name>
    <header>
        ./header/section.h
    </header>
    <function>
        drawSection
    </function>
</element>
